<div class="calendario-geral">
    <div class="ferramentas-navegacao">
        <h2 class="mes-em-foco">{{ calendario_geral.mes }} {{ calendario_geral.ano }}</h2>
        <a href="{% url 'voltar_para_hoje' %}" class="voltar-para-hoje">Hoje</a>
        <a href="{% url 'semana_anterior' %}" class="icone-semana-anterior material-symbols-outlined">arrow_back_ios_new</a>
        <a href="{% url 'proxima_semana' %}" class="icone-proxima-semana material-symbols-outlined">arrow_forward_ios</a>
    </div>
    
    <div class="scroll-container">
        <div class="calendario-geral-2">
            <div></div>
    
            <div class="datas">
                {% for data in calendario_geral.datas %}
                    <p>{{ data.nome }}</p>
                {% endfor %}
            </div>
    
            <div class="horarios">
                {% for horario in calendario_geral.horarios %}
                    <div>{{ horario }}</div>
                {% endfor %}
                <span></span>
            </div>
    
            <div class="grade-eventos">
                <div class="colunas-datas">
                    {% for data in calendario_geral.datas %}
                        <div data-data="{{ data.isoformat }}"></div>
                    {% endfor %}
                </div>
    
                <div class="linhas-horizontais">
                    {% for horario in calendario_geral.horarios %}
                        <div class="container-linha-horizontal">
                            <div class="linha-horizontal"></div>
                        </div>
                    {% endfor %}
                    <span class="container-linha-horizontal"></span>
                </div>
    
                {% for evento in calendario_geral.eventos %}
                    <a href="{% url 'eventos:visualizar_evento' evento.id %}"
                        class="evento-calendario paleta-{{ evento.paleta }}"
                        data-data="{{ evento.inicio|date:'Y-m-d' }}"
                        data-inicio="{{ evento.inicio|date:'H:i' }}"
                        data-fim="{{ evento.fim|date:'H:i' }}"
                        aria-label="Visualizar evento {{ evento.nome }}">
                        <div class="conteudo-evento">
                            <div class="evento-titulo">{{ evento.nome }}</div>
                            <div class="evento-horario">
                                {{ evento.inicio|date:'H:i' }} - {{ evento.fim|date:'H:i' }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <button type="button" class="botao-criar-evento">+ Criar evento</button>
    
    {% include 'eventos/modal_criar_evento.html' %}
</div>